* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li {
    cursor: pointer;
    transition: 0.3s;
}

.nav-links li:hover {
    color: #00c6ff;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
}

/* SEARCH CARD */
.search-card {
    margin: 40px auto;
    width: 60%;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
}

.form-group {
    display: flex;
    gap: 15px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #00c6ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0094cc;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 80px 0;
}

.feature-box {
    width: 250px;
    padding: 25px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
    background: rgba(255,255,255,0.2);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.3);
}


/* ===== RESULT PAGE ===== */

.result-container {
    width: 45%;
    max-width: 700px;
    margin: 80px auto;
    padding: 35px 40px;
    background: rgba(255,255,255,0.08);
    border-radius: 18px;
    backdrop-filter: blur(25px);
    text-align: center;
    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}

/*Animation  */
.result-container {
    animation: floatCard 4s ease-in-out infinite alternate;
}

@keyframes floatCard {
    from { transform: translateY(0px); }
    to { transform: translateY(-8px); }
}

.route {
    font-size: 18px;
    opacity: 0.8;
}

.date {
    margin-bottom: 30px;
    opacity: 0.7;
}

.risk-card {
    margin: 30px 0;
}

.risk-number {
    font-size: 52px;
    font-weight: 700;
    margin: 10px 0;
}

.risk-level {
    font-size: 20px;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    display: inline-block;
}

/* Risk Colors */
.low {
    background: #2ecc71;
}

.medium {
    background: #f39c12;
}

.high {
    background: #e74c3c;
}

.weather-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;
}

.weather-card {
    flex: 1;
    padding: 20px;
    background: rgba(255,255,255,0.08);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    transition: 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
    background: rgba(255,255,255,0.2);
}

.recommendation {
    margin-top: 30px;
    padding: 18px;
    background: rgba(255,255,255,0.08);
    border-radius: 15px;
}

.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #00c6ff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.back-btn:hover {
    background: #0094cc;
}
